/* src/styles/CustomDatePicker.css */

.react-datepicker {
  font-family: inherit;
  font-size: 0.875rem; /* text-sm */
  background-color: #4a5568; /* bg-gray-700 */
  color: #fff; /* text-white */
  border: 2px solid #4a5568; /* border-gray-700 */
  border-radius: 0.5rem; /* rounded-lg */
}

.react-datepicker__header {
  background-color: #2d3748; /* bg-gray-800 */
  border-bottom: 1px solid #4a5568; /* border-gray-700 */
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: #fff;
}

.react-datepicker__day,
.react-datepicker__day-name {
  color: #cbd5e0; /* text-gray-400 */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #3182ce; /* bg-blue-600 */
  color: #fff;
}

.react-datepicker__day:hover {
  background-color: #2b6cb0; /* bg-blue-700 */
  color: #fff;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  border: none;
  background: none;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff;
}

.react-datepicker__day--today {
  border: 1px solid #63b3ed; /* border-blue-400 */
}

.react-datepicker__day--disabled {
  color: #a0aec0; /* text-gray-400 */
  cursor: not-allowed;
}

.react-datepicker__close-icon::after {
  background-color: #a0aec0; /* text-gray-400 */
}