@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.min.css");

@layer base {
  html {
    font-family: "Pretendard", sans-serif;
  }
  h1 {
    font-family: "Apercu", sans-serif;
  }
  /* 스크롤바 트랙 색상 */
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* 스크롤바 트랙 색상 */
  ::-webkit-scrollbar-track {
    display: none;
  }

  /* 스크롤바 썸네일 색상 */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  /* 스크롤바 버튼 색상 */
  ::-webkit-scrollbar-button {
    display: none;
  }
}
